<h2>Paginas</h2>
<hr />

<h3 class="mt-3">Reactive</h3>
<div class="list-group">
  <a
    href="#"
    *ngFor="let item of reactiveMenu"
    class="list-group-item list-group-item-action"
    [routerLink]="[item.route]"
    routerLinkActive="active"
  >
    {{ item.title }}
  </a>
</div>

<h3 class="mt-3">Validaciones</h3>
<div class="list-group">
  <a
    href="#"
    *ngFor="let item of authMenu"
    class="list-group-item list-group-item-action"
    [routerLink]="[item.route]"
    routerLinkActive="active"
  >
    {{ item.title }}
  </a>
</div>
